body {
    color: #222;
    background-color: antiquewhite;
    font-family: Ubuntu, sans-serif;
    margin: 0;
}
a {
    color: #300043;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.centered-block, .centered-element {
    text-align: center;
    margin:     0 auto;
}
.centered-block {
    display:    block;
}
.central-container {
    font-size: 1.4em;
    margin:    0 18%;
}
.parenthesized-OL {
    counter-reset: list;
    margin: 0;
}
.parenthesized-OL > li {
    list-style: none;
    position:   relative;
}
.parenthesized-OL > li::before {
    counter-increment: list;
    content:           counter(list, lower-alpha) ") ";
    position:          absolute;
    font-weight:       bold;
    left:              -1.15em;
}
#vee-logo {
    width: 30em;
}
.section-title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5em;
    padding: 0.2em 0;
    width: 100%;
    background-color: orangered;
    color: white;
    text-align: center;
    box-shadow: 0 0 15px 1px #333;

}
/********|slide-button|********/
.slide-button {
    position:   fixed;
    top:           5px;
    left:          5px;
    width:        26px;
    padding:       4px;
    transition:  .25s;
    z-index:       15;
}
.slide-button:hover {
    cursor: pointer;
}
.slide-button .slide-button-bar {
    position:      relative;
    border-radius:      2px;
    width:             100%;
    transition:         .5s;
    border:        6px solid white;
    border-bottom:     none;
}
.slide-button .slide-button-middle {
    margin-top:    4px;
    margin-bottom: 4px;
}
/*********menu-open|*********/
.slide-button-open .slide-button-top,
.slide-button-open .slide-button-bottom {
    transition: .5s;
}
.slide-button-open .slide-button-top {
    transform: rotate(45deg) translateY(-3px);
    transform-origin: top left;
}
.slide-button-open .slide-button-middle {
    transform:  translate(500%);
    transition: .1s ease-in;
    opacity:    0;
}
.slide-button-open .slide-button-bottom {
    transform: rotate(-45deg) translateY(4px);
    transform-origin: bottom left;
}
/*********|slide-menu|*********/
.slide-menu-container {
    position: fixed;
    z-index:     10;
    height:    100%;
    top: 0;
    left: 0;
}
.slide-menu {
    background-color: orangered;
    position:    absolute;
    top:               0;
    right:             0;
    height:         100%;
    width:           6em;
    min-width:       7em;
    font-size:     1.5em;
    font-weight:    bold;
    overflow:       auto;
    transition:    0.25s;
}
.slide-menu a {
    text-decoration: none;
}
.slide-menu a:hover {
    color: gold;
}
.slide-menu-content {
    position:    relative;
    margin-top:  5%;
}
.slide-menu-show {
    transform: translateX(100%);
    box-shadow: 0 0 40px 1px #151515;
}
.slide-menu ul {
    list-style: none;
}
.slide-menu li {
    padding-top: 0.7em;
}
.slide-menu li > a {
    color: #f3f3f3;
    font-size: 1.18em;
    position: relative;
}
.slide-menu li > a::after {
    visibility:       hidden;
    content:              "";
    display:           block;
    position:       absolute;
    width:                 0;
    transition: .2s ease-out;
    border:   2px solid gold;
}
.slide-menu li > a:hover::after {
    visibility: visible;
    width:      100%;
}

/*********|users|*********/

#users-table{
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 15px 1px #333;
    width: 100%;
}
#users-table tr:nth-child(even) {
    background-color: orangered;
    color: white;
}
#users-table td, #users-table th {
    padding: 0.4em;
}
#users-table > thead {
    background-color: #222;
    color: white;
}
.user-avatar {
    padding: 2px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 6px solid orangered;
    box-shadow: 0 0 15px 1px #333;
}
.user-bio::before {
    content: "BIO: ";
    font-weight: bold;
    font-size: 1.2em;
}
.user-bio {
    box-shadow: 0 0 15px 1px #333;
    margin-top: 0.5em;
    padding: 0.5em;
    height: 10em;
    border: 5px solid #222;
}